<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Creat new event</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEventModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createNewEvent()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Create new event</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
