<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Creat new event</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Event Name" ng-model="event.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
          </ionic-datepicker>
        </label>
        <label class="item item-input">
          <span class="input-label">Time</span>
          <ionic-timepicker input-obj="timePickerObject">
            <button class="button button-block button-positive">
              <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
            </button>
          </ionic-timepicker>
        </label>
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" placeholder="location" ng-model="event.location">
        </label>
        <label class="item">
          <button class="button icon-right ion-chevron-right button-calm" ng-click="addAttendees()">Add attendees</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="createNewEvent()">Create new event</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
