<ion-view view-title="Agenda"  class = 'background'>
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon button-clear ion-android-add" ng-click="addNewEvent()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher on-refresh="getEvents()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#/app/agenda/{{event.event_id}}">
        <div class="game">
        	<div class="float">
        	<img src="../img/field.png"/> 
        	</div>
        	<div class="float">
        	<p class="Name"><b>{{event.name}}</b></p>
        	<p>{{event.event_date}}</p>
        	<p>{{event.location.name}}</p>
        	<p>{{event.owner.firstname}}</p>
        	</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
