<ion-view view-title="Réglage" class="background">
  <ion-content>
  
	<ul class="list listsetting">
		<li class="itembottom item item-toggle">
     	Profile public
     	<label class="toggle toggle-balanced">
       		<input type="checkbox">
       		<div class="track">
    			<div class="handle"></div>
       		</div>
     	</label>
  		</li>
  		
		<li class="itembis item item-toggle">
     	<b>Gestion des notifications</b>
  		</li>
		<li class="item item-toggle itembis">
     	Message
     	<label class="toggle toggle-balanced">
       		<input type="checkbox">
       		<div class="track">
    			<div class="handle"></div>
       		</div>
     	</label>
  		</li>
  		
  		<li class="item item-toggle itembis">
     	Annulation
     	<label class="toggle toggle-balanced">
       		<input type="checkbox">
       		<div class="track">
    			<div class="handle"></div>
       		</div>
     	</label>
  		</li>
  		
  		<li class="item item-toggle itembis">
     	Demande de match
     	<label class="toggle toggle-balanced">
       		<input type="checkbox">
       		<div class="track">
    			<div class="handle"></div>
       		</div>
     	</label>
  		</li>
  		
  		<li class="item item-toggle itembis">
     	Modification Créateur
     	<label class="toggle toggle-balanced">
       		<input type="checkbox">
       		<div class="track">
    			<div class="handle"></div>
       		</div>
     	</label>
  		</li>
  		
  		<li class="itemtop item item-toggle">
     	ALERT SMS
     	<label class="toggle toggle-balanced">
       		<input type="checkbox">
       		<div class="track">
    			<div class="handle"></div>
       		</div>
     	</label>
  		</li>
  		<li class="itembtn item item-toggle">
     		<button class="button button-balanced">
  			METTRE A JOUR
			</button>
  		</li>
  		

	</ul>

  </ion-content>
</ion-view>
